{% extends "main.html" %}
{% load static %}

{% block content %}

<section>
    <div>
        <a href="{% url 'createTask' %}">Create Task</a>
    </div>
    
    <div>
        <h2>Tasks</h2>
    </div>

    <div>
        <ul>
            {% for tasks in task %}
                <div class="roomListRoom">
                    <div class="roomListRoom__header">
                      <div class="roomListRoom__actions">
                        <a href="{% url 'taskDetails' tasks.id %}">{{tasks.title}}</a>
                        
                      </div>
                    </div>
                </div>

                <div class="roomListRoom__content">
                    @{{tasks.user}} <span>created {{tasks.created_at|timesince}} ago</span>
                {% if request.user.is_authenticated %}
                  <div class="task_priority">
                        <p class="left">Priority : {{tasks.priority}}</p>
                        <p class="right">Completed : {{tasks.is_complete}}</p>
                    </div>
                    {% endif %}
                </div>                
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock content %}
