<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>title 1</h1>

        <p>description</p>
    </div>
    <div>
        <img src="" alt="">
    </div>

    <div>
        <a href="#">Add Photos</a>
        <a href="#">Delete Photos</a>
    </div>
    <div>
        <h5>created at 01/01/2024:5 p.m.</h5>
        <h3>Due Date : 15/02/2024 10 p.m.</h3>
    </div>
    <div>
        <p>Priority</p>
        <p>is completed?</p>
    </div>

    <div>
        <a href="#">Update Task</a>
        <a href="#">Delete Task</a>
    </div>
   
</body>
</html>