{% extends "main.html" %}
{% load static %}
{% block content %}
    <div>
        <h1>{{task.title}}</h1>

        <p>{{task.description}}</p>
    </div>
    <div>
        <img src="" alt="">
    </div>

    <div>
        <a href="#">Add Photos</a>
        <a href="#">Delete Photos</a>
    </div>
    <div>
        <h5>created at {{task.created_at}}</h5>
        <h3>Due Date : {{task.due_date}}.</h3>
    </div>
    <div>
        <p>Priority : {{task.priority}}</p>
        <p>is completed = {{task.is_complete}}</p>
    </div>
    <div>
        <a href="{% url 'update_task' task.id %}">Update Task</a>
        <a href="{% url 'deleteTask' task.id %}">Delete Task</a>
    </div>
{% endblock content %}