{% load static %}
    
<header class="nav-bar">
    <div>
        <a href="{% url 'home' %}">
            <img src="" alt=""/>
            <h1>taskStack</h1>
        </a>

        <form class="header__search" method="GET" action="#">
            <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>search</title>
                </svg>
                <input type="text" name="q" placeholder="Search task here..." />
            </label>
            </form>
            {% if request.user.is_authenticated %}
            <div class="header__user">
                <a href="#">
                  <div class="avatar avatar--medium active">
                    <img src="" />
                  </div>
                  <p>{{request.user.name}}</p>
                </a>
              </div>


            {% else %}
            <a href="{% url 'login' %}">
            <img src="" />
            <p>Login</p>
            </a>
            {% endif %}

            <a href="{% url 'logout' %}">
            <img src="" />
            <p>Logout</p>
            </a>

    </div>

</header>